/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 44, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* line 55, ../../sass/layouts/responsive-sidebars.scss */
.not-front #page,
.not-front .region-bottom {
  max-width: 960px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 69, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

@media all and (max-width: 960px) {
  /* line 84, ../../sass/layouts/responsive-sidebars.scss */
  #block-stdffrontpage-publications {
    margin-top: 3em;
    max-width: 90%;
    margin: 0 auto;
  }

  /* line 89, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-nodequeue-upcoming-events-block {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media all and (min-width: 960px) {
  /* line 97, ../../sass/layouts/responsive-sidebars.scss */
  #block-stdffrontpage-publications {
    width: 48%;
    float: right;
    margin: 0 0 10px 2%;
  }
  /* line 101, ../../sass/layouts/responsive-sidebars.scss */
  #block-stdffrontpage-publications ul {
    padding: 0;
  }

  /* line 103, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-nodequeue-upcoming-events-block {
    width: 48%;
    float: left;
    margin: 0 2% 10px 0;
  }
  /* line 109, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-nodequeue-upcoming-events-block .view-nodequeue-upcoming-events .view-footer p {
    float: right;
  }

  /* line 118, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-eebb22e852a8f93e943e8c7a212a3c68 .view-nodequeue-thematic-activities .views-field-body {
    min-height: 200px;
  }

  /* line 123, ../../sass/layouts/responsive-sidebars.scss */
  ul {
    margin: 0;
  }
}
@media all and (max-width: 650px) {
  /* line 128, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-front-carousel-block .views-field-body {
    display: none;
  }

  /* line 131, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-front-carousel-block .views-field-body-1 {
    display: block;
  }

  /* line 135, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-eebb22e852a8f93e943e8c7a212a3c68 .view-nodequeue-thematic-activities {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
  }
  /* line 139, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-eebb22e852a8f93e943e8c7a212a3c68 .view-nodequeue-thematic-activities td {
    width: 80%;
    padding: 0 0 0 10%;
    border-bottom: 1px dotted #668faf;
    margin-bottom: 1em;
  }
}
@media all and (min-width: 650px) and (max-width: 960px) {
  /* line 153, ../../sass/layouts/responsive-sidebars.scss */
  .view-front-carousel p {
    font-size: 1em;
  }

  /* line 157, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-front-carousel-block .views-field-body {
    display: block;
  }

  /* line 160, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-front-carousel-block .views-field-body-1 {
    display: none;
  }
}
@media all and (min-width: 650px) {
  /* line 167, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-front-carousel-block .views-field-body {
    display: block;
  }

  /* line 170, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-front-carousel-block .views-field-body-1 {
    display: none;
  }

  /* line 175, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-eebb22e852a8f93e943e8c7a212a3c68 .view-nodequeue-thematic-activities {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
  }
  /* line 179, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-eebb22e852a8f93e943e8c7a212a3c68 .view-nodequeue-thematic-activities td {
    width: 23%;
    padding: 1%;
  }
}
@media all and (min-width: 960px) {
  /* line 189, ../../sass/layouts/responsive-sidebars.scss */
  .view-front-carousel p {
    font-size: 1.25em;
  }
}
/*
 * Navigation bar
 */
@media all and (min-width: 480px) {
  /* line 200, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    position: relative;
  }
  /* line 202, ../../sass/layouts/responsive-sidebars.scss */
  #main .front {
    padding-top: 3em;
    /* Move all the children of #main down to make room. */
  }

  /* line 206, ../../sass/layouts/responsive-sidebars.scss */
  #navigation {
    position: absolute;
    top: 0;
    /* Move the navbar up inside #main's padding. */
    height: 3em;
    width: 100%;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 225, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 229, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 239, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 243, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 253, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 257, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 261, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
  /* line 266, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 269, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }
  /* line 273, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 276, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 282, ../../sass/layouts/responsive-sidebars.scss */
  #logo {
    margin: 32px 0 0 0;
  }
}
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 294, ../../sass/layouts/responsive-sidebars.scss */
  #page header#header {
    width: 100%;
  }
  /* line 296, ../../sass/layouts/responsive-sidebars.scss */
  #page header#header .inner {
    max-width: 960px;
    margin: 0 auto;
  }
  /* line 300, ../../sass/layouts/responsive-sidebars.scss */
  #page header#header .region-header {
    margin-top: 40px;
  }

  /* line 310, ../../sass/layouts/responsive-sidebars.scss */
  .region-second-content #block-block-1 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 316, ../../sass/layouts/responsive-sidebars.scss */
  .region-third-content {
    clear: left;
  }

  /* line 323, ../../sass/layouts/responsive-sidebars.scss */
  .front.sidebar-first #content {
    /* Span 4 columns, starting in 2nd column from left. */
    float: left;
    width: 200%;
    margin-left: 50%;
    margin-right: -250%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 327, ../../sass/layouts/responsive-sidebars.scss */
  .front.sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 341, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 4 columns, starting in 1st column from left. */
    float: left;
    width: 200%;
    margin-left: 0%;
    margin-right: -200%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 345, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 50%;
    margin-left: 200%;
    margin-right: -250%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 355, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: left;
    width: 150%;
    margin-left: 50%;
    margin-right: -200%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 359, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 363, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 50%;
    margin-left: 200%;
    margin-right: -250%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 371, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 375, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 384, ../../sass/layouts/responsive-sidebars.scss */
  .not-logged-in #footer {
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 389, ../../sass/layouts/responsive-sidebars.scss */
  .not-logged-in #footer #block-menu-block-2 {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 393, ../../sass/layouts/responsive-sidebars.scss */
  .not-logged-in #footer #block-stdffrontpage-contact-info {
    float: left;
    width: 25%;
    margin-left: 25%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 397, ../../sass/layouts/responsive-sidebars.scss */
  .not-logged-in #footer #block-stdfcustom-newsletter-signup {
    float: left;
    width: 25%;
    margin-left: 50%;
    margin-right: -75%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 401, ../../sass/layouts/responsive-sidebars.scss */
  .not-logged-in #footer #block-user-login {
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 411, ../../sass/layouts/responsive-sidebars.scss */
  .logged-in #footer {
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 416, ../../sass/layouts/responsive-sidebars.scss */
  .logged-in #footer #block-menu-block-2 {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 420, ../../sass/layouts/responsive-sidebars.scss */
  .logged-in #footer #block-stdffrontpage-contact-info {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 424, ../../sass/layouts/responsive-sidebars.scss */
  .logged-in #footer #block-stdfcustom-newsletter-signup {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 431, ../../sass/layouts/responsive-sidebars.scss */
  #logo {
    margin: 40px 0 0;
  }

  /* line 434, ../../sass/layouts/responsive-sidebars.scss */
  .front #logo {
    margin-top: 0;
  }
}
/* line 437, ../../sass/layouts/responsive-sidebars.scss */
#partners {
  max-width: 960px;
  margin: 0 auto;
}
