/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 44, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* line 55, ../../sass/layouts/responsive-sidebars.scss */
.not-front #page,
.not-front .region-bottom {
  max-width: 960px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 69, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

@media all and (max-width: 960px) {
  /* line 84, ../../sass/layouts/responsive-sidebars.scss */
  #block-stdffrontpage-publications {
    margin-top: 3em;
    max-width: 90%;
    margin: 0 auto;
  }

  /* line 89, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-nodequeue-upcoming-events-block {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media all and (min-width: 960px) {
  /* line 97, ../../sass/layouts/responsive-sidebars.scss */
  #block-stdffrontpage-publications {
    width: 49%;
    float: right;
  }
  /* line 100, ../../sass/layouts/responsive-sidebars.scss */
  #block-stdffrontpage-publications ul {
    padding: 0;
  }

  /* line 102, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-nodequeue-upcoming-events-block {
    width: 49%;
    float: left;
  }
  /* line 107, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-nodequeue-upcoming-events-block .view-nodequeue-upcoming-events .view-footer p {
    float: right;
  }

  /* line 116, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-eebb22e852a8f93e943e8c7a212a3c68 .view-nodequeue-thematic-activities .views-field-body {
    min-height: 200px;
  }

  /* line 121, ../../sass/layouts/responsive-sidebars.scss */
  ul {
    margin: 0;
  }
}
@media all and (max-width: 650px) {
  /* line 126, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-front-carousel-block .views-field-body {
    display: none;
  }

  /* line 129, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-front-carousel-block .views-field-body-1 {
    display: block;
  }

  /* line 133, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-eebb22e852a8f93e943e8c7a212a3c68 .view-nodequeue-thematic-activities {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
  }
  /* line 137, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-eebb22e852a8f93e943e8c7a212a3c68 .view-nodequeue-thematic-activities td {
    width: 80%;
    padding: 0 0 0 10%;
    border-bottom: 1px dotted #668faf;
    margin-bottom: 1em;
  }
}
@media all and (min-width: 650px) and (max-width: 960px) {
  /* line 151, ../../sass/layouts/responsive-sidebars.scss */
  .view-front-carousel p {
    font-size: 1em;
  }

  /* line 155, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-front-carousel-block .views-field-body {
    display: block;
  }

  /* line 158, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-front-carousel-block .views-field-body-1 {
    display: none;
  }
}
@media all and (min-width: 650px) {
  /* line 165, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-front-carousel-block .views-field-body {
    display: block;
  }

  /* line 168, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-front-carousel-block .views-field-body-1 {
    display: none;
  }

  /* line 173, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-eebb22e852a8f93e943e8c7a212a3c68 .view-nodequeue-thematic-activities {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
  }
  /* line 177, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-eebb22e852a8f93e943e8c7a212a3c68 .view-nodequeue-thematic-activities td {
    width: 23%;
    padding: 1%;
  }
}
@media all and (min-width: 960px) {
  /* line 187, ../../sass/layouts/responsive-sidebars.scss */
  .view-front-carousel p {
    font-size: 1.25em;
  }
}
/*
 * Navigation bar
 */
@media all and (min-width: 480px) {
  /* line 198, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    position: relative;
  }
  /* line 200, ../../sass/layouts/responsive-sidebars.scss */
  #main .front {
    padding-top: 3em;
    /* Move all the children of #main down to make room. */
  }

  /* line 204, ../../sass/layouts/responsive-sidebars.scss */
  #navigation {
    position: absolute;
    top: 0;
    /* Move the navbar up inside #main's padding. */
    height: 3em;
    width: 100%;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 223, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 227, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 237, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 241, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 251, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 255, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 259, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
    clear: right;
  }
  /* line 264, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 267, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }
  /* line 271, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 274, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 280, ../../sass/layouts/responsive-sidebars.scss */
  #logo {
    margin: 32px 0 0 0;
  }
}
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 292, ../../sass/layouts/responsive-sidebars.scss */
  #page header#header {
    width: 100%;
  }
  /* line 294, ../../sass/layouts/responsive-sidebars.scss */
  #page header#header .inner {
    max-width: 960px;
    margin: 0 auto;
  }
  /* line 298, ../../sass/layouts/responsive-sidebars.scss */
  #page header#header .region-header {
    margin-top: 40px;
  }

  /* line 308, ../../sass/layouts/responsive-sidebars.scss */
  .region-second-content #block-block-1 {
    float: right;
    width: 50%;
    margin-right: 50%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 314, ../../sass/layouts/responsive-sidebars.scss */
  .region-third-content {
    clear: right;
  }

  /* line 321, ../../sass/layouts/responsive-sidebars.scss */
  .front.sidebar-first #content {
    /* Span 4 columns, starting in 2nd column from left. */
    float: right;
    width: 200%;
    margin-right: 50%;
    margin-left: -250%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 325, ../../sass/layouts/responsive-sidebars.scss */
  .front.sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 339, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 4 columns, starting in 1st column from left. */
    float: right;
    width: 200%;
    margin-right: 0%;
    margin-left: -200%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 343, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: right;
    width: 50%;
    margin-right: 200%;
    margin-left: -250%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 353, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: right;
    width: 150%;
    margin-right: 50%;
    margin-left: -200%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 357, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 361, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: right;
    width: 50%;
    margin-right: 200%;
    margin-left: -250%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 369, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    float: right;
    width: 80%;
    margin-right: 20%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 373, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 20%;
    margin-right: 0%;
    margin-left: -20%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 382, ../../sass/layouts/responsive-sidebars.scss */
  .not-logged-in #footer {
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 387, ../../sass/layouts/responsive-sidebars.scss */
  .not-logged-in #footer #block-menu-block-2 {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 391, ../../sass/layouts/responsive-sidebars.scss */
  .not-logged-in #footer #block-stdffrontpage-contact-info {
    float: right;
    width: 25%;
    margin-right: 25%;
    margin-left: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 395, ../../sass/layouts/responsive-sidebars.scss */
  .not-logged-in #footer #block-stdfcustom-newsletter-signup {
    float: right;
    width: 25%;
    margin-right: 50%;
    margin-left: -75%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 399, ../../sass/layouts/responsive-sidebars.scss */
  .not-logged-in #footer #block-user-login {
    float: right;
    width: 25%;
    margin-right: 75%;
    margin-left: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 409, ../../sass/layouts/responsive-sidebars.scss */
  .logged-in #footer {
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 414, ../../sass/layouts/responsive-sidebars.scss */
  .logged-in #footer #block-menu-block-2 {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 418, ../../sass/layouts/responsive-sidebars.scss */
  .logged-in #footer #block-stdffrontpage-contact-info {
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 422, ../../sass/layouts/responsive-sidebars.scss */
  .logged-in #footer #block-stdfcustom-newsletter-signup {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 429, ../../sass/layouts/responsive-sidebars.scss */
  #logo {
    margin: 40px 0 0;
  }

  /* line 432, ../../sass/layouts/responsive-sidebars.scss */
  .front #logo {
    margin-top: 0;
  }
}
/* line 435, ../../sass/layouts/responsive-sidebars.scss */
#partners {
  max-width: 960px;
  margin: 0 auto;
}
