# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/all/modules/stdfmigrate/vl.tar
sites/all/modules/stdfmigrate/virtual_library
sites/default/files
sites/all/libraries/dompdf/*
sites/*/themes/*/.sass-cache/*
.DS_Store
.buildpath
.project
.settings
.idea
.vagrant
*.komodoproject
behat.yml
site
/site
/backup
/sites/default/files/css
/sites/default/files/js
/sites/default/files/xmlsitemap
/tmp

