/**
 * @file
 * Block Styling
 */
/* line 8, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 11, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 14, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 17, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 20, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 23, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
}

/* line 27, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 30, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 33, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 36, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 39, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 42, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 45, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 48, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 51, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 54, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 57, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 60, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 63, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 66, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 69, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 72, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 75, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 78, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 81, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 84, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 87, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 90, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 93, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 96, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 99, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 102, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 105, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/* line 109, ../sass/blocks.scss */
#footer .block h2.block-title {
  text-align: center;
  background: #99b4c9;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
}

/*Appnovation code starts here - these are all our custom blocks */
/* line 121, ../sass/blocks.scss */
#block-views-front-carousel-block {
  /*Front carousel block with slideshow */
  width: 100%;
}

/* line 126, ../sass/blocks.scss */
#block-locale-language li {
  display: inline;
  list-style: none;
}
/* line 129, ../sass/blocks.scss */
#block-locale-language li a.language-link {
  font-size: 0.75em;
  text-decoration: none;
  text-transform: uppercase;
  color: #00335c;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=73)";
  filter: alpha(opacity=73);
  -moz-opacity: 0.73;
  -khtml-opacity: 0.73;
  opacity: 0.73;
}
/* line 139, ../sass/blocks.scss */
#block-locale-language li a.language-link.active, #block-locale-language li a.language-link:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
/* line 146, ../sass/blocks.scss */
#block-locale-language li a.language-link.active {
  font-weight: 700;
}

/* line 151, ../sass/blocks.scss */
#block-views-eebb22e852a8f93e943e8c7a212a3c68 {
  position: relative;
  top: -30px;
}
/* line 154, ../sass/blocks.scss */
#block-views-eebb22e852a8f93e943e8c7a212a3c68 h2.block-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 14pt;
}
/* line 160, ../sass/blocks.scss */
#block-views-eebb22e852a8f93e943e8c7a212a3c68 .view-nodequeue-thematic-activities p {
  font-size: 0.8em;
}
/* line 164, ../sass/blocks.scss */
#block-views-eebb22e852a8f93e943e8c7a212a3c68 td {
  float: left;
}
/* line 166, ../sass/blocks.scss */
#block-views-eebb22e852a8f93e943e8c7a212a3c68 td .views-field-title {
  font-size: 14pt;
  font-weight: 700;
  min-height: 47px;
}
/* line 170, ../sass/blocks.scss */
#block-views-eebb22e852a8f93e943e8c7a212a3c68 td .views-field-title a {
  text-decoration: none;
  color: #00335c;
}

/* line 180, ../sass/blocks.scss */
#header #block-search-form {
  margin: 0 0 0.8em 0;
}

/* line 184, ../sass/blocks.scss */
footer .block a {
  color: #978a82;
}

/* line 186, ../sass/blocks.scss */
#block-stdffrontpage-contact-info .menu-block-wrapper {
  font-size: 0.9em;
  margin: 0.8em 0 0 0;
  line-height: 0;
}

/* line 192, ../sass/blocks.scss */
#block-menu-block-2 li {
  background: url("../images/bullet-footer-menu.png") no-repeat scroll right center transparent;
}
/* line 195, ../sass/blocks.scss */
#block-menu-block-2 a {
  text-transform: uppercase;
}

/* line 201, ../sass/blocks.scss */
#block-user-login .form-item {
  margin: 0.7em 0 0 0;
}
/* line 204, ../sass/blocks.scss */
#block-user-login input.form-text {
  width: 100%;
  background: #fff;
  border: 2px solid #d4dde6;
}
/* line 205, ../sass/blocks.scss */
#block-user-login .item-list {
  font-size: 0.69em;
  text-transform: uppercase;
}
/* line 206, ../sass/blocks.scss */
#block-user-login #edit-actions--2 {
  float: right;
  margin: 0;
}

/* line 212, ../sass/blocks.scss */
#block-views-nodequeue-upcoming-events-block .view-nodequeue-upcoming-events .item-list ul,
#block-stdffrontpage-resources .view-nodequeue-upcoming-events .item-list ul {
  margin: 0;
  padding: 0;
}
/* line 217, ../sass/blocks.scss */
#block-views-nodequeue-upcoming-events-block .block-title,
#block-stdffrontpage-resources .block-title {
  text-align: center;
  background: url(../images/title_bg.png) repeat-x center;
  text-transform: uppercase;
  color: #fff;
  line-height: 3em;
}

/* line 227, ../sass/blocks.scss */
#block-views-nodequeue-upcoming-events-block .block-title:before {
  background: url(../images/eventsicon_bg.png) no-repeat;
  width: 50px;
  height: 50px;
  content: "";
  display: block;
  float: left;
  position: absolute;
  margin: 11px 0 0 7px;
}

/* line 240, ../sass/blocks.scss */
#block-stdffrontpage-resources .block-title:before {
  background: url(../images/pubicon_bg.png) no-repeat;
  width: 50px;
  height: 50px;
  content: "";
  display: block;
  float: left;
  position: absolute;
  margin: 11px 0 0 7px;
}

/* line 253, ../sass/blocks.scss */
#block-stdffrontpage-resources li {
  height: 33px;
  text-indent: 50px;
  list-style: none;
  padding: 0 0 2.5em 0;
  border-bottom: 1px dotted #B3B3B3;
}
/* line 260, ../sass/blocks.scss */
#block-stdffrontpage-resources a {
  position: relative;
  top: 1.5em;
  text-decoration: none;
  color: #978A82;
  text-size: 1.25em;
}
/* line 267, ../sass/blocks.scss */
#block-stdffrontpage-resources li.newsletter {
  background: url(../images/newsletter_bg.png) center left no-repeat;
}
/* line 270, ../sass/blocks.scss */
#block-stdffrontpage-resources li.newsletter a img {
  position: relative;
  left: 60%;
}
/* line 276, ../sass/blocks.scss */
#block-stdffrontpage-resources li.briefings {
  background: url(../images/briefings_bg.png) center left no-repeat;
}
/* line 279, ../sass/blocks.scss */
#block-stdffrontpage-resources li.briefings a img {
  position: relative;
  left: 63.5%;
}
/* line 285, ../sass/blocks.scss */
#block-stdffrontpage-resources li.publications {
  background: url(../images/publications_bg.png) center left no-repeat;
}
/* line 288, ../sass/blocks.scss */
#block-stdffrontpage-resources li.publications a img {
  position: relative;
  left: 58%;
}
/* line 294, ../sass/blocks.scss */
#block-stdffrontpage-resources li.videos {
  background: url(../images/videos_bg.png) center left no-repeat;
}
/* line 297, ../sass/blocks.scss */
#block-stdffrontpage-resources li.videos a img {
  position: relative;
  left: 66%;
}

/* line 305, ../sass/blocks.scss */
#block-block-2 {
  width: 100%;
  margin: 0 auto;
}

/* line 311, ../sass/blocks.scss */
#block-stdffrontpage-proposal-deadline {
  position: relative;
  top: -50px;
  float: left;
  background-image: url("../images/partners_bg.png");
  text-align: center;
  text-transform: uppercase;
  font-size: 14pt;
  width: 100%;
}

/* line 322, ../sass/blocks.scss */
#block-stdffrontpage-partnerlogos {
  max-width: 960px;
  margin-bottom: 1em !important;
}
/* line 325, ../sass/blocks.scss */
#block-stdffrontpage-partnerlogos h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 18pt;
}
/* line 330, ../sass/blocks.scss */
#block-stdffrontpage-partnerlogos img {
  margin: 0 2.8em;
}

/* line 335, ../sass/blocks.scss */
#block-nice-menus-2 {
  background: url("images/bkg.png") repeat-x scroll left bottom #101010;
  left: 0;
  text-align: left;
  box-shadow: 0 -10px 20px 13px #000000;
  font-size: 0.846em;
  padding: 5px 10px 0;
  font: small "Lucida Grande",Verdana,sans-serif;
  right: 0;
  width: auto;
  position: fixed;
  top: 0;
  z-index: 1000;
}
/* line 336, ../sass/blocks.scss */
#block-nice-menus-2 .block-title {
  color: white;
  float: right;
  font-size: 1em;
  font-weight: normal;
}
/* line 354, ../sass/blocks.scss */
#block-nice-menus-2 ul {
  line-height: 1.4em;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 999;
}
/* line 360, ../sass/blocks.scss */
#block-nice-menus-2 ul li {
  float: left;
  background-color: black !important;
  border: none !important;
}
/* line 364, ../sass/blocks.scss */
#block-nice-menus-2 ul li a {
  text-decoration: none;
  margin-bottom: 4px;
  color: white;
}

/* line 373, ../sass/blocks.scss */
#block-menu-block-1 a {
  font-weight: 500;
  font-size: 12px;
  color: #668faf;
}
/* line 378, ../sass/blocks.scss */
#block-menu-block-1 a.active {
  font-weight: 900;
  color: #00335c;
}
