/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 16, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Verdana, "DejaVu Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #00335c;
}
/* line 23, ../sass/pages.scss */
body.not-front {
  background: url(../images/bg_header.jpg) top left no-repeat;
  background-size: 100% 158px;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 37, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 41, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 56, ../sass/pages.scss */
#header {
  position: absolute;
  z-index: 100;
  height: 151px;
}
/* line 61, ../sass/pages.scss */
#header #block-search-form,
#header #block-locale-language {
  float: right;
  margin-bottom: 0;
  padding: 0 0.3em 0 0;
}
/* line 65, ../sass/pages.scss */
#header #block-search-form ul,
#header #block-locale-language ul {
  padding: 0;
  margin: 0;
}
/* line 68, ../sass/pages.scss */
#header #block-search-form ul li,
#header #block-locale-language ul li {
  padding: 0 .25em 0 0;
}
/* line 74, ../sass/pages.scss */
#header .block-nice-menus ul.sf-menu.sf-style-default {
  float: right;
}

/* line 80, ../sass/pages.scss */
.not-front #header {
  margin: 0;
  position: static;
  top: auto;
  left: auto;
}
/* line 87, ../sass/pages.scss */
.not-front #header #block-locale-language ul li {
  padding: 0 0.3em 0 0;
}
/* line 91, ../sass/pages.scss */
.not-front #header .block-superfish {
  margin-top: 4.5em;
}

/* line 98, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  padding: 0;
  float: left;
}
/* line 101, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
  margin: 0;
}

/* line 108, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 112, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 117, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 122, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 127, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/*
 * Main (container for everything else)
 */
/* line 137, ../sass/pages.scss */
.not-front #main {
  position: relative;
  clear: both;
}
/* line 142, ../sass/pages.scss */
.not-front #inner-content {
  padding: 20px 0 0 0;
}

/* line 146, ../sass/pages.scss */
.region-sidebar-first {
  padding-bottom: 1em;
  background: url('../images/../images/first-sidebar-top-bg.png?1383130489') no-repeat, url('../images/../images/first-sidebar-bottom-bg.png?1383130489') no-repeat bottom, url('../images/../images/first-sidebar-bg.png?1383130489');
}
/* line 152, ../sass/pages.scss */
.region-sidebar-first h2 {
  display: none;
}
/* line 153, ../sass/pages.scss */
.region-sidebar-first ul {
  margin: 1em 0;
}

/* line 163, ../sass/pages.scss */
.front #main {
  padding: 0;
}

/*
 * Content
 */
/* line 178, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 179, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 183, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 191, ../sass/pages.scss */
.not-front .breadcrumb {
  text-transform: uppercase;
  font-size: 0.8em;
}
/* line 194, ../sass/pages.scss */
.not-front .breadcrumb a {
  text-decoration: none;
  color: #99b4c9;
}

/* line 206, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 210, ../sass/pages.scss */
.not-front h1.title {
  font-family: "Lato", Verdana, "DejaVu Sans", sans-serif;
  font-weight: 300;
  font-size: 30pt;
  color: #00335c;
  text-transform: uppercase;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

/* line 220, ../sass/pages.scss */
h2.node-title a {
  text-decoration: none;
  text-transform: uppercase;
}

/* line 223, ../sass/pages.scss */
a.language-link {
  font-size: 0.75em;
  text-decoration: none;
  text-transform: uppercase;
  color: #668faf;
}
/* line 228, ../sass/pages.scss */
a.language-link.active {
  color: #00335c;
}

/* line 233, ../sass/pages.scss */
.not-front .language-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #55718d;
  font-size: 0.75em;
}

/* line 241, ../sass/pages.scss */
li.en, li.fr, li.es {
  list-style: none;
  float: left;
  padding: 0.5em;
}

/* line 247, ../sass/pages.scss */
ul.language-switcher-locale-url {
  float: right;
}

/* line 251, ../sass/pages.scss */
tr.odd, tr.even, td.active {
  background-color: #ecf1f4;
}

/* line 255, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 258, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 264, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 268, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 273, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 276, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 280, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 284, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 287, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 290, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 293, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 296, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 300, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 306, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 310, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 313, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0.2em 0.5em;
  background-color: #eceeed;
  border: 1px solid #d3d3d3;
}
/* line 317, ../sass/pages.scss */
.item-list .pager li a {
  text-decoration: none;
  color: #08356a;
  padding: 0.2 0.5em;
}
/* line 323, ../sass/pages.scss */
.item-list .pager li.pager-current {
  background-color: #08356a;
  border-color: #08356a;
  color: #fff;
  font-weight: 400;
}

/* line 331, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
  display: none;
}

/* line 335, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 362, ../sass/pages.scss */
#footer {
  background: none;
}

/* line 367, ../sass/pages.scss */
.not-front #footer {
  margin: 4em 0 0 0;
}

/*
 * Page bottom
 */
/* line 376, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
/* line 377, ../sass/pages.scss */
.region-bottom div.contextual-links-wrapper ul.contextual-links {
  position: relative;
  top: -80px;
}

/* line 384, ../sass/pages.scss */
#block-views-front-carousel-block .views-field-body p, #block-views-front-carousel-block .views-field-body-1 p {
  font-family: "Lato", Verdana, "DejaVu Sans", sans-serif;
  color: #fff;
  font-weight: 500;
  line-height: 160%;
  text-shadow: 1px 1px #000;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 1000;
  text-rendering: geometricPrecision;
}

/* line 399, ../sass/pages.scss */
#block-views-front-carousel-block .views-field-body p {
  margin: 0 16%;
}

/* line 405, ../sass/pages.scss */
#block-views-front-carousel-block .views-field-body-1 p {
  margin: 0 25%;
}

/* line 411, ../sass/pages.scss */
button, input[type="button"], input[type="reset"], input[type="submit"], .action-button, .view-footer a, .view-nodequeue-thematic-activities .views-field-view-node a {
  font-family: "Lato", Verdana, "DejaVu Sans", sans-serif;
  border: 1px solid #ccc;
  background: #ebebeb;
  text-decoration: none;
  color: #00335c;
  text-transform: uppercase;
  margin: 10px;
  font-size: 11pt;
  height: 30px;
}
/* line 414, ../sass/pages.scss */
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .action-button:hover, .view-footer a:hover, .view-nodequeue-thematic-activities .views-field-view-node a:hover {
  background: #99b4c9;
  border: 1px solid #7d97ac;
  color: white;
}

/* line 428, ../sass/pages.scss */
.view-nodequeue-thematic-activities .views-field-view-node a {
  padding: 4px 7px 0 7px;
}

/* line 432, ../sass/pages.scss */
button, input[type="button"], input[type="reset"], input[type="submit"], .action-button, .view-footer a {
  padding: 4px 7px;
}

/* line 436, ../sass/pages.scss */
button, input[type="button"], input[type="reset"], input[type="submit"], .action-button, .view-nodequeue-thematic-activities .views-field-view-node a {
  float: right;
}

/* line 441, ../sass/pages.scss */
.action-button,
.action-button:visited {
  text-decoration: none;
  color: #00335c;
}

/*  
 *  JQuery UI overrides
 * 
 * */
/* line 450, ../sass/pages.scss */
.ui-dialog {
  font-family: "Lato", Verdana, "DejaVu Sans", sans-serif !important;
  font-size: 1em;
}
/* line 453, ../sass/pages.scss */
.ui-dialog .ui-dialog-title {
  overflow: visible;
  white-space: normal;
}

/* line 458, ../sass/pages.scss */
.ui-dialog-titlebar.ui-widget-header {
  background: url(../images/fabric-big.png) top left repeat;
  border-radius: 0 0 0 0;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 469, ../sass/pages.scss */
.block-mailchimp-lists h2.block-title,
.block-mailchimp-lists #edit-mailchimp-lists-mailchimp-stdf-mail-list-title {
  display: none;
}

/* line 472, ../sass/pages.scss */
.date-display-single {
  display: inline;
}

/* line 476, ../sass/pages.scss */
article.node a {
  color: #978a82;
}

/* line 481, ../sass/pages.scss */
.person img.image {
  float: left;
  max-width: 100%;
  width: 180px;
  margin: 0 10px 0 0;
}

/* line 486, ../sass/pages.scss */
img.center {
  margin: 0 auto;
  display: block;
}

/* line 488, ../sass/pages.scss */
.highlighted.border {
  border: 2px solid #d4dde6;
  padding: 2em;
}
/* line 491, ../sass/pages.scss */
.highlighted.border a {
  float: left;
  display: block;
  margin: 0 2em 0 0;
}
/* line 493, ../sass/pages.scss */
.highlighted.border a img {
  max-width: 100%;
  width: 150px;
}

/* line 506, ../sass/pages.scss */
.flexslider_views_slideshow_slide .views-field.views-field-body, .flexslider_views_slideshow_slide .views-field.views-field-body-1 {
  position: absolute;
  bottom: 15%;
}

/* line 514, ../sass/pages.scss */
.flexslider {
  border: 0;
  margin: 0 0 50px;
}

/* line 519, ../sass/pages.scss */
.border {
  border: 2px solid #d2dae2;
  padding: 2em;
}
/* line 522, ../sass/pages.scss */
.border a.book {
  float: left;
  margin: 0 2em 0 0;
  width: 100px;
}
/* line 523, ../sass/pages.scss */
.border p {
  margin-top: 0;
}

/* line 527, ../sass/pages.scss */
table.content-table {
  width: 100%;
}

/* line 529, ../sass/pages.scss */
#partners img {
  max-width: 100%;
  height: auto;
}

/* line 534, ../sass/pages.scss */
.date {
  width: 49px;
  border-top: 6px solid #1f4e74;
  float: left;
}
/* line 538, ../sass/pages.scss */
.date .day, .date .month {
  border: solid #d5d5d5;
  border-width: 0 1px;
  width: 47px;
  display: block;
  text-align: center;
  line-height: 1em;
}
/* line 546, ../sass/pages.scss */
.date .day {
  font-size: 160%;
  padding-top: 5px;
}
/* line 550, ../sass/pages.scss */
.date .month {
  color: #978A82;
  font-size: 85%;
  border-width: 0 1px 1px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

/* line 559, ../sass/pages.scss */
.node-event header {
  position: relative;
  top: -6px;
}
/* line 562, ../sass/pages.scss */
.node-event header h2 {
  line-height: 12px;
}
/* line 564, ../sass/pages.scss */
.node-event header h2 a {
  text-decoration: none;
  font-size: 12px;
  color: #00335c;
}

/* line 573, ../sass/pages.scss */
.region-third-content {
  background: url("../images/partners_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  clear: both;
}

/* line 578, ../sass/pages.scss */
.block {
  margin: 0 auto !important;
}

/* line 582, ../sass/pages.scss */
#copyright {
  text-align: center;
}
/* line 584, ../sass/pages.scss */
#copyright p {
  font-size: 10pt;
  color: #99b4c9;
}

/* line 589, ../sass/pages.scss */
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 594, ../sass/pages.scss */
.doc_icon {
  float: left;
  margin-right: 15px;
}

/* line 599, ../sass/pages.scss */
.metadata_label {
  font-size: 10pt;
  font-weight: 700;
}

/* Search pages styling */
/* line 608, ../sass/pages.scss */
#search-form .form-item-retain-filters,
#search-form label {
  display: none;
}
/* line 609, ../sass/pages.scss */
#search-form input.form-text {
  width: 50%;
}
/* line 610, ../sass/pages.scss */
#search-form input[type="submit"] {
  float: none;
}
/* line 611, ../sass/pages.scss */
#search-form h2 {
  display: none;
}

/* line 614, ../sass/pages.scss */
.search-results ol {
  padding: 0;
}
/* line 615, ../sass/pages.scss */
.search-results search-snippet-info {
  padding-left: 0;
}
/* line 616, ../sass/pages.scss */
.search-results li {
  min-height: 100px;
}
/* line 620, ../sass/pages.scss */
.search-results .title a {
  text-decoration: none;
  font-size: 14pt;
  font-weight: 700;
  color: #00335c;
}
/* line 627, ../sass/pages.scss */
.search-results .search-info {
  display: none;
}
