/** phone-specific settings **/
/* line 4, ../sass/phone.scss */
html,
body,
.page {
  width: 100%;
}

/* line 8, ../sass/phone.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  float: right;
  width: auto;
}

/* line 13, ../sass/phone.scss */
.region-content-left,
.region-content-right {
  width: 100%;
}

/* line 16, ../sass/phone.scss */
#block-superfish-1 {
  display: none !important;
}

/* line 19, ../sass/phone.scss */
div.field-slideshow-caption span.field-slideshow-caption-text {
  font-size: 70%;
  margin-top: -110px;
  text-shadow: 1px 1px #000;
}

/* line 24, ../sass/phone.scss */
div.field-slideshow-caption {
  width: 60%;
  margin: -5% 0 0 36%;
  position: absolute;
}

/* line 29, ../sass/phone.scss */
.view-nodequeue-recent-thematic-activities .field-name-body {
  display: none;
}

/* line 32, ../sass/phone.scss */
#header {
  width: 100%;
  margin-right: 2em;
}
/* line 35, ../sass/phone.scss */
#header #logo {
  padding-top: 70px;
}
/* line 38, ../sass/phone.scss */
#header #block-search-form {
  padding-top: 75px;
  float: none;
}
/* line 41, ../sass/phone.scss */
#header #block-search-form .form-text.form-autocomplete {
  width: 80%;
  margin-left: 20%;
}
/* line 46, ../sass/phone.scss */
#header #block-locale-language ul li {
  padding: 0;
  display: block;
  float: none;
}

/* line 53, ../sass/phone.scss */
#block-views-front-carousel-block img {
  min-height: 250px;
}

/* line 57, ../sass/phone.scss */
body.not-front {
  background-image: none;
}
/* line 59, ../sass/phone.scss */
body.not-front #header {
  height: 120px;
}
/* line 61, ../sass/phone.scss */
body.not-front #header #logo {
  padding-top: 20px;
}
/* line 63, ../sass/phone.scss */
body.not-front #block-locale-language {
  display: none;
}
/* line 64, ../sass/phone.scss */
body.not-front .region-sidebar-first {
  background-image: none;
}
/* line 65, ../sass/phone.scss */
body.not-front #footer {
  margin: 1em 0 0;
}
